<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbtx.dao.SucaiMapper">
    <resultMap id="BaseResultMap" type="com.jbtx.entity.Sucai">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sucainame" jdbcType="VARCHAR" property="sucainame"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="createid" jdbcType="BIGINT" property="createid"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="updateid" jdbcType="BIGINT" property="updateid"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="isdelete" jdbcType="CHAR" property="isdelete"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="beizhuone" jdbcType="VARCHAR" property="beizhuone"/>
        <result column="beizhutwo" jdbcType="VARCHAR" property="beizhutwo"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, sucainame, createtime, createid, updatetime, updateid, address, isdelete, type,beizhuone,
    beizhutwo
  </sql>
</mapper>